name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
django = "*"
django-cors-headers = "*"
spacy = "*"
whisper = {git = "https://github.com/openai/whisper.git"}
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
text2emotion = "*"
emoji = "==1.7.0"

[requires]
python_version = "3"
